body {
    background: #fff;
    color: #fff;
    border: none;
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.navbar {
    margin: 0;
    padding: 0;
    min-height: 40px;
    border: none;
}

.navbar-inner {
    background: #1f6377;
    margin-bottom: 0px;
    min-height: 40px;
    border: none;
    border-radius: 0px;
    padding: 0px 20px;
}
.navbar-inner a:hover i {
    opacity: .8;
    filter: alpha(opacity=80);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

a.navbar-brand {
    background: #080808;
    color: #fff;
    text-align: center;
    left: 0px;
    position: absolute;
    width: 25%;
    height: 40px;
}
a.navbar-brand:hover {
    background: #1f6377;
}